<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Planets</h1>
    <ul>
    <% planets.forEach(planet => { %>
        <a style="color: <%= planet.color %>" href="/planets/<%= planet._id %>">
        <li><%= planet.name %></li>
        </a>
        <p style="margin-top: 0px; margin-bottom: 5px"><%= planet.description %></p>
    <% }) %>
    </ul>
</body>
</html>